.form {
	margin: 10px 8px;
	padding: 12px;
}
.input_table_style {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.label_table-style {
	display: inline-block;
}

.contact_field {
	gap: 1px;
}

@media only screen and (min-width: 768px) {
	.form {
		margin: 32px 164px;
		padding: 30px;
		align-items: center;
		width: auto;
	}
	.input_table_style {
		justify-content: flex-start;

		flex-direction: row;
	}
	.contact_field {
		gap: 5px;
	}
	.label_table-style {
		display: block;
		width: 400px;
	}
}
